In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('ZOR_ZIPcodes_AllHomesPlusMultifamily_Smoothed.csv')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1743 entries, 0 to 1742
Data columns (total 94 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionID    1743 non-null   int64
 1   RegionName  1743 non-null   int64
 2   SizeRank    1743 non-null   int64
 3   MsaName     1743 non-null   object
 4   2014-01     1517 non-null   float64
 5   2014-02     1516 non-null   float64
 6   2014-03     1375 non-null   float64
 7   2014-04     1614 non-null   float64
 8   2014-05     1659 non-null   float64
 9   2014-06     1678 non-null   float64
 10  2014-07     1684 non-null   float64
 11  2014-08     1663 non-null   float64
 12  2014-09     1649 non-null   float64
 13  2014-10     1643 non-null   float64
 14  2014-11     1576 non-null   float64
 15  2014-12     1537 non-null   float64
 16  2015-01     1638 non-null   float64
 17  2015-02     1617 non-null   float64
 18  2015-03     1674 non-null   float64
 19  2015-04     1686 non-null   float64
 20  2015-05     1703 non-null   float64
 21  2015-06     1711 non-null   float64
 22  2015-07     1720 non-null   float64
 23  2015-08     1710 non-null   float64
 24  2015-09     1712 non-null   float64
 25  2015-10     1694 non-null   float64
 26  2015-11     1697 non-null   float64
 27  2015-12     1685 non-null   float64
 28  2016-01     1698 non-null   float64
 29  2016-02     1701 non-null   float64
 30  2016-03     1696 non-null   float64
 31  2016-04     1664 non-null   float64
 32  2016-05     1720 non-null   float64
 33  2016-06     1727 non-null   float64
 34  2016-07     1725 non-null   float64
 35  2016-08     1736 non-null   float64
 36  2016-09     1731 non-null   float64
 37  2016-10     1714 non-null   float64
 38  2016-11     1718 non-null   float64
 39  2016-12     1717 non-null   float64
 40  2017-01     1736 non-null   float64
 41  2017-02     1736 non-null   float64
 42  2017-03     1738 non-null   float64
 43  2017-04     1734 non-null   float64
 44  2017-05     1734 non-null   float64
 45  2017-06     1741 non-null   float64
 46  2017-07     1740 non-null   float64
 47  2017-08     1741 non-null   float64
 48  2017-09     1735 non-null   float64
 49  2017-10     1730 non-null   float64
 50  2017-11     1732 non-null   float64
 51  2017-12     1726 non-null   float64
 52  2018-01     1737 non-null   float64
 53  2018-02     1739 non-null   float64
 54  2018-03     1738 non-null   float64
 55  2018-04     1740 non-null   float64
 56  2018-05     1739 non-null   float64
 57  2018-06     1742 non-null   float64
 58  2018-07     1741 non-null   float64
 59  2018-08     1738 non-null   float64
 60  2018-09     1738 non-null   float64
 61  2018-10     1738 non-null   float64
 62  2018-11     1734 non-null   float64
 63  2018-12     1735 non-null   float64
 64  2019-01     1736 non-null   float64
 65  2019-02     1736 non-null   float64
 66  2019-03     1740 non-null   float64
 67  2019-04     1737 non-null   float64
 68  2019-05     1739 non-null   float64
 69  2019-06     1736 non-null   float64
 70  2019-07     1739 non-null   float64
 71  2019-08     1742 non-null   float64
 72  2019-09     1741 non-null   float64
 73  2019-10     1739 non-null   float64
 74  2019-11     1738 non-null   float64
 75  2019-12     1732 non-null   float64
 76  2020-01     1737 non-null   float64
 77  2020-02     1739 non-null   float64
 78  2020-03     1741 non-null   float64
 79  2020-04     1733 non-null   float64
 80  2020-05     1739 non-null   float64
 81  2020-06     1738 non-null   float64
 82  2020-07     1736 non-null   float64
 83  2020-08     1735 non-null   float64
 84  2020-09     1737 non-null   float64
 85  2020-10     1737 non-null   float64
 86  2020-11     1723 non-null   float64
 87  2020-12     1728 non-null   float64
 88  2021-01     1730 non-null   float64
 89  2021-02     1726 non-null   float64
 90  2021-03     1720 non-null   float64
 91  2021-04     1724 non-null   float64
 92  2021-05     1726 non-null   float64
 93  2021-06     1712 non-null   float64
dtypes: float64(90), int64(3), object(1)
memory usage: 1.3+ MB

In [11]:
data = data[data['MsaName'] == 'New York, NY']
data

,RegionID,RegionName,SizeRank,MsaName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,...,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06
0,61639,10025,1,"New York, NY",2923.0,2849.0,2932.0,2955.0,2946.0,2957.0,...,2867.0,2845.0,2808.0,2778.0,2813.0,2784.0,2848.0,2908.0,2992.0,3056.0
2,61637,10023,3,"New York, NY",2908.0,2928.0,2964.0,2955.0,2973.0,3032.0,...,2865.0,2790.0,2706.0,2667.0,2696.0,2739.0,2770.0,2843.0,2892.0,2981.0
6,61616,10002,7,"New York, NY",2757.0,2659.0,2722.0,2745.0,2784.0,2791.0,...,2777.0,2667.0,2627.0,2606.0,2602.0,2621.0,2660.0,2765.0,2884.0,2971.0
10,62037,11226,11,"New York, NY",1784.0,1764.0,1763.0,1737.0,1736.0,1732.0,...,2089.0,2072.0,2029.0,1988.0,1976.0,1988.0,2007.0,2028.0,2050.0,2065.0
13,61630,10016,16,"New York, NY",3184.0,3094.0,3164.0,3172.0,3212.0,3207.0,...,3071.0,2979.0,2852.0,2836.0,2852.0,2865.0,2924.0,3012.0,3116.0,3255.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1697,61887,10601,6403,"New York, NY",2014.0,2046.0,2091.0,2174.0,2254.0,2329.0,...,2531.0,2493.0,2523.0,2486.0,2491.0,2544.0,2507.0,2540.0,2542.0,2541.0
1714,61771,10280,6946,"New York, NY",3105.0,2961.0,3101.0,3146.0,3252.0,3265.0,...,3136.0,3163.0,3204.0,3214.0,3208.0,3166.0,3149.0,3201.0,3328.0,3568.0
1732,61664,10069,7587,"New York, NY",4423.0,4510.0,4591.0,4611.0,4264.0,4544.0,...,3799.0,3701.0,3632.0,3598.0,3550.0,3586.0,3603.0,3685.0,3733.0,3908.0
1737,61621,10007,7859,"New York, NY",4971.0,5626.0,NaN,5272.0,5427.0,5560.0,...,5306.0,5425.0,5080.0,4832.0,4766.0,4827.0,5022.0,5193.0,5512.0,5838.0
1740,61620,10006,8506,"New York, NY",3108.0,3153.0,3177.0,3201.0,3278.0,3311.0,...,3037.0,2894.0,2888.0,2887.0,2790.0,2884.0,2868.0,2969.0,3007.0,3149.0